// Custom styles by yourself.
// You should always modify the style here, not in the source code.
// Otherwise, when the theme is updated, the code you modified will be overwritten.

body {
    font-family: sans-serif, Arial;
}

.header-nav-menu-item{
}

.header-nav-menu-item__link:hover{
    background: none;
    color: #49b1f5;
}

.header-banner-info__title {
    font-size: 2.5rem;
}

.header-banner-info__subtitle {
    font-family: Courier;
}

.sidebar-ov-author {
}

.sidebar-ov-author__avatar {
    width: auto;
    height: auto;
}

.sidebar-ov-author__avatar_img {
    height: 264px;
}

.sidebar-ov-state-item:not(:last-child) {
    border: none;
}


::-moz-selection { /* Code for Firefox */
  color: white;
  background: blue;
}

::selection {
  color: white;
  background: blue;
}

@media (max-width: 1100px) {
    .header-banner-info__title {
        font-size: 1.4rem;
    }
}

